<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Catalago
        <small class="text-muted">Encuentra todo lo que necesites en un mismo lugar</small>
      </h3>
    </div>
  </div>

  <hr class="invisible">

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.description %></td>
              <td><%= number_to_currency(product.price) %></td>
              <td><%= link_to 'Ver', product  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
